In [1]:
import pandas as pd
import xlrd
import os
import re
import datetime

In [2]:
DATA_PATH = "C:\\Temp\\NsmData\\"

"""
today = datetime.datetime.today() # datetime.datetime.now
yesterday = today + datetime.timedelta(days=-1) # 오늘에서 1일을 빼서 어제를 구한다
file_name = "order" + yesterday.strftime('%Y%m%d') + ".xlsx"
excel_file = DATA_PATH + file_name
"""

#excel_file = DATA_PATH + "order20190502.xlsx"
#excel_file = DATA_PATH + 'order20190401to0419.xlsx'
excel_file = DATA_PATH + 'Sheet1.xlsx'

In [26]:
if not os.path.exists(excel_file):
    print('실패! ' + excel_file + ' file not found!! ')
    print('Exists files :')
    print(os.listdir(DATA_PATH))
    exit()

In [6]:
df = pd.read_excel(excel_file, Sheet_name='Sheet1')
print('조회 건수 : %d건' % df.shape[0])
print(df['상품명'].unique())
df.head(3)

조회 건수 : 69건
['Bizbox Alpha Cloud' 'bizbox Cloud' '기업용 Smart A Cloud edition'
 'SmartA Premium Package' 'Smart Office' 'ICUBE/IU 클라우드서버' 'ICUBE 클라우드서버'
 'IU 클라우드서버' nan]

,순번,구분,주담당채널,주담당부서,주담당자,영업채널명,영업부서명,영업담당자명,고객명,사업자/주민,...,영업실적율,영업실적금액,구분.1,부서명,사원명,영업실적율.1,영업실적금액.1,구분.2,부서명.1,사원명.1
0,1,지점,"서울3,4 IT코디센터(강원)",강원지점,박종현,강원지점,강원지점,박종현,서창산업(주)이천(하)휴게소,126-85-28350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,지점,"서울3,4 IT코디센터(강원)",강원지점,박종현,강원지점,강원지점,박종현,서창산업(주)이천(하)휴게소,126-85-28350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,지점,"서울3,4 IT코디센터(강원)",강원지점,박종현,강원지점,강원지점,박종현,서창산업(주)이천(하)휴게소,126-85-28350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
read_columns = ['주담당채널', '영업채널명', '영업담당자명', '고객명', '사업자/주민', '주문일자', '주문상태', '주문현황', '납입구분', '상품명', '단위상품명', '공급가', '금액(VAT별도)', '판매유형', '기회시작일' ]
df2 = df[read_columns]
print('조회 건수 : %d건' % df.shape[0])
df2.head(3)

조회 건수 : 69건

,주담당채널,영업채널명,영업담당자명,고객명,사업자/주민,주문일자,주문상태,주문현황,납입구분,상품명,단위상품명,공급가,금액(VAT별도),판매유형,기회시작일
0,"서울3,4 IT코디센터(강원)",강원지점,박종현,서창산업(주)이천(하)휴게소,126-85-28350,2019-05-14,주문완료,주문완료,일시납,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",12000000,0,업셀,2019-05-14
1,"서울3,4 IT코디센터(강원)",강원지점,박종현,서창산업(주)이천(하)휴게소,126-85-28350,2019-05-14,주문완료,주문완료,일시납,Bizbox Alpha Cloud,양식추가,500000,0,업셀,2019-05-14
2,"서울3,4 IT코디센터(강원)",강원지점,박종현,서창산업(주)이천(하)휴게소,126-85-28350,2019-05-14,주문완료,주문완료,일시납,Bizbox Alpha Cloud,유저 라이선스(월납),520000,260000,업셀,2019-05-14

In [11]:
# 상품명
product_category = {'ICUBE 클라우드서버', 'ICUBE/IU 클라우드서버', 'ICUBE/GW 클라우드서버', 'IU 클라우드서버'
                    , 'IU/GW 클라우드서버', 'GW 클라우드서버', 'Private Cloud', 'iU Private', 'iCUBE Private'
                    , '클라우드서버', '클라우드백업서버', 'Bizbox Alpha Cloud','(신)iCUBE Cloud Edition'}
#product_category = {'GW 클라우드서버', 'ICUBE/GW 클라우드서버', 'IU/GW 클라우드서버'}  # 집합(중복값 불허)
df3 = df2[df2['상품명'].isin(product_category)]
print('조회 건수 : %d건' % df3.shape[0])
print(df3['상품명'].value_counts())
df3.head(3)

조회 건수 : 44건
ICUBE 클라우드서버          19
Bizbox Alpha Cloud    15
ICUBE/IU 클라우드서버        6
IU 클라우드서버              4
Name: 상품명, dtype: int64

,주담당채널,영업채널명,영업담당자명,고객명,사업자/주민,주문일자,주문상태,주문현황,납입구분,상품명,단위상품명,공급가,금액(VAT별도),판매유형,기회시작일
0,"서울3,4 IT코디센터(강원)",강원지점,박종현,서창산업(주)이천(하)휴게소,126-85-28350,2019-05-14,주문완료,주문완료,일시납,Bizbox Alpha Cloud,"엔진(기본, 웹메일)",12000000,0,업셀,2019-05-14
1,"서울3,4 IT코디센터(강원)",강원지점,박종현,서창산업(주)이천(하)휴게소,126-85-28350,2019-05-14,주문완료,주문완료,일시납,Bizbox Alpha Cloud,양식추가,500000,0,업셀,2019-05-14
2,"서울3,4 IT코디센터(강원)",강원지점,박종현,서창산업(주)이천(하)휴게소,126-85-28350,2019-05-14,주문완료,주문완료,일시납,Bizbox Alpha Cloud,유저 라이선스(월납),520000,260000,업셀,2019-05-14

In [19]:
df3[df3['상품명']=='ICUBE/IU 클라우드서버']

,주담당채널,영업채널명,영업담당자명,고객명,사업자/주민,주문일자,주문상태,주문현황,납입구분,상품명,단위상품명,공급가,금액(VAT별도),판매유형,기회시작일
20,"서울3,4 IT코디센터(강원)",서울3 IT코디센터,임민웅,(주)고암,105-81-37363,2019-05-14,주문완료,주문완료,일시납,ICUBE/IU 클라우드서버,클라우드서버(기본),0,2400000,신규,2019-05-14
21,"서울3,4 IT코디센터(강원)",서울3 IT코디센터,임민웅,(주)고암,105-81-37363,2019-05-14,주문완료,주문완료,일시납,ICUBE/IU 클라우드서버,MS SQL for DOUZONE,0,960000,신규,2019-05-14
22,"서울3,4 IT코디센터(강원)",서울3 IT코디센터,임민웅,(주)고암,105-81-37363,2019-05-14,주문완료,주문완료,일시납,ICUBE/IU 클라우드서버,보안서비스,0,600000,신규,2019-05-14
23,"서울3,4 IT코디센터(강원)",서울3 IT코디센터,임민웅,(주)고암,105-81-37363,2019-05-14,주문완료,주문완료,일시납,ICUBE/IU 클라우드서버,웹방화벽,0,1200000,신규,2019-05-14
24,"서울3,4 IT코디센터(강원)",서울3 IT코디센터,임민웅,(주)고암,105-81-37363,2019-05-14,주문완료,주문완료,일시납,ICUBE/IU 클라우드서버,백신서비스(서버전용백신),0,360000,신규,2019-05-14
25,"서울3,4 IT코디센터(강원)",서울3 IT코디센터,임민웅,(주)고암,105-81-37363,2019-05-14,주문완료,주문완료,일시납,ICUBE/IU 클라우드서버,백업서비스,0,540000,신규,2019-05-14

In [22]:
# group by
groupby_columns_list = ['영업채널명', '영업담당자명', '고객명', '사업자/주민', '주문일자', '상품명', '판매유형']
grouped = df3.groupby(groupby_columns_list)

df4 = grouped.sum().reset_index()
print(df4.columns)
print('조회 건수 : %d건' % df4.shape[0])
print(df4['상품명'].value_counts())
"""
# column rename
#df6.rename(columns={'NEW_NAME':'OLD_NAME'}, inplace=True)   # 속도 느림
df6.columns = ['CNT' if x == 0 else x for x in df6.columns]    # 속도 빠름
print(df6.columns)

# sort
df6.sort_values(by=['주문일자', 'CNT'], ascending=[False, True], inplace=True)
print('조회 건수 : %d건' % df6.shape[0])
df6.head(3)
"""
df4

Index(['영업채널명', '영업담당자명', '고객명', '사업자/주민', '주문일자', '상품명', '판매유형', '공급가',
       '금액(VAT별도)'],
      dtype='object')
조회 건수 : 14건
Bizbox Alpha Cloud    8
ICUBE 클라우드서버          4
ICUBE/IU 클라우드서버       1
IU 클라우드서버             1
Name: 상품명, dtype: int64

,영업채널명,영업담당자명,고객명,사업자/주민,주문일자,상품명,판매유형,공급가,금액(VAT별도)
0,강원지점,박종현,서창산업(주)이천(하)휴게소,126-85-28350,2019-05-14,Bizbox Alpha Cloud,업셀,13020000,260000
1,경기IT코디센터,김세중A,(주)베어로지 평택,125-86-14490,2019-05-14,Bizbox Alpha Cloud,업셀,12610000,60000
2,경남IT코디센터,박범균,(주)아이엔도시개발,329-81-01097,2019-05-14,Bizbox Alpha Cloud,추가,80000,80000
3,다인정보,심영미,향우산업주식회사,128-81-18559,2019-05-14,ICUBE 클라우드서버,신규,0,2760000
4,베스트원솔루션,강성훈,베스트원솔루션,214-88-85402,2019-05-14,Bizbox Alpha Cloud,추가,3000000,0
5,서울2 IT코디센터,신철원,(주)동원아이앤디,369-87-00050,2019-05-14,Bizbox Alpha Cloud,업셀,15380000,1440000
6,서울3 IT코디센터,김한주,(주)엠피한강,595-81-00040,2019-05-14,Bizbox Alpha Cloud,추가,500000,0
7,서울3 IT코디센터,임민웅,(주)고암,105-81-37363,2019-05-14,ICUBE/IU 클라우드서버,신규,0,6060000
8,서울4 IT코디센터,최문영,쉬플리코리아주식회사,113-86-20801,2019-05-14,Bizbox Alpha Cloud,기타,500000,0
9,아이원소프트뱅크,이혜리,케이디비비즈 주식회사,864-87-01189,2019-05-14,IU 클라우드서버,신규,0,6474000
10,유니에스아이,박준호,엠케이프리시젼주식회사,140-81-05369,2019-05-14,ICUBE 클라우드서버,신규,0,3180000
11,유니에스아이,윤정노,주식회사 효창건설,114-85-29318,2019-05-14,Bizbox Alpha Cloud,추가,40000,20000
12,인천IT코디센터,정연석,메콕스큐어메드주식회사,206-86-09879,2019-05-14,ICUBE 클라우드서버,신규,0,3540000
13,천안IT코디센터,최진환,(주)광천김,310-81-23326,2019-05-14,ICUBE 클라우드서버,기타,0,4800000

In [44]:
# IT코디센터는 C로 대리점은 B로 새로운칼럼에 추가한다
channel_series = df4.apply(lambda v: 'C' if ((v[0].endswith('IT코디센터'))|(v[0]=='강원지점')|(v[0]=='제주지점')) else 'B', axis=1)   #
#df4['CB'] = channel_series
df4.loc[:, 'C_B'] = channel_series
print('조회 건수 : %d건' % df4.shape[0])
print(df4['C_B'].value_counts())
df4

조회 건수 : 14건
C    9
B    5
Name: C_B, dtype: int64

,영업채널명,영업담당자명,고객명,사업자/주민,주문일자,상품명,판매유형,공급가,금액(VAT별도),C_B
0,강원지점,박종현,서창산업(주)이천(하)휴게소,126-85-28350,2019-05-14,Bizbox Alpha Cloud,업셀,13020000,260000,C
1,경기IT코디센터,김세중A,(주)베어로지 평택,125-86-14490,2019-05-14,Bizbox Alpha Cloud,업셀,12610000,60000,C
2,경남IT코디센터,박범균,(주)아이엔도시개발,329-81-01097,2019-05-14,Bizbox Alpha Cloud,추가,80000,80000,C
3,다인정보,심영미,향우산업주식회사,128-81-18559,2019-05-14,ICUBE 클라우드서버,신규,0,2760000,B
4,베스트원솔루션,강성훈,베스트원솔루션,214-88-85402,2019-05-14,Bizbox Alpha Cloud,추가,3000000,0,B
5,서울2 IT코디센터,신철원,(주)동원아이앤디,369-87-00050,2019-05-14,Bizbox Alpha Cloud,업셀,15380000,1440000,C
6,서울3 IT코디센터,김한주,(주)엠피한강,595-81-00040,2019-05-14,Bizbox Alpha Cloud,추가,500000,0,C
7,서울3 IT코디센터,임민웅,(주)고암,105-81-37363,2019-05-14,ICUBE/IU 클라우드서버,신규,0,6060000,C
8,서울4 IT코디센터,최문영,쉬플리코리아주식회사,113-86-20801,2019-05-14,Bizbox Alpha Cloud,기타,500000,0,C
9,아이원소프트뱅크,이혜리,케이디비비즈 주식회사,864-87-01189,2019-05-14,IU 클라우드서버,신규,0,6474000,B
10,유니에스아이,박준호,엠케이프리시젼주식회사,140-81-05369,2019-05-14,ICUBE 클라우드서버,신규,0,3180000,B
11,유니에스아이,윤정노,주식회사 효창건설,114-85-29318,2019-05-14,Bizbox Alpha Cloud,추가,40000,20000,B
12,인천IT코디센터,정연석,메콕스큐어메드주식회사,206-86-09879,2019-05-14,ICUBE 클라우드서버,신규,0,3540000,C
13,천안IT코디센터,최진환,(주)광천김,310-81-23326,2019-05-14,ICUBE 클라우드서버,기타,0,4800000,C

In [71]:
# sort
df5 = df4.sort_values(by=['C_B', '영업채널명', '영업담당자명'], ascending=[False, True, False])
print('조회 건수 : %d건' % df5.shape[0])
df5.head(3)

조회 건수 : 14건

,영업채널명,영업담당자명,고객명,사업자/주민,주문일자,상품명,판매유형,공급가,금액(VAT별도),C_B
0,강원지점,박종현,서창산업(주)이천(하)휴게소,126-85-28350,2019-05-14,Bizbox Alpha Cloud,업셀,13020000,260000,C
1,경기IT코디센터,김세중A,(주)베어로지 평택,125-86-14490,2019-05-14,Bizbox Alpha Cloud,업셀,12610000,60000,C
2,경남IT코디센터,박범균,(주)아이엔도시개발,329-81-01097,2019-05-14,Bizbox Alpha Cloud,추가,80000,80000,C

In [73]:
# filter
filter_product = {'ICUBE 클라우드서버', 'ICUBE/IU 클라우드서버', 'ICUBE/GW 클라우드서버', 'IU 클라우드서버'
                    , 'IU/GW 클라우드서버', 'GW 클라우드서버'}

df6 = df5[df5['상품명'].apply(lambda x : x in filter_product)]
print('조회 건수 : %d건' % df6.shape[0])
df6

조회 건수 : 6건

,영업채널명,영업담당자명,고객명,사업자/주민,주문일자,상품명,판매유형,공급가,금액(VAT별도),C_B
7,서울3 IT코디센터,임민웅,(주)고암,105-81-37363,2019-05-14,ICUBE/IU 클라우드서버,신규,0,6060000,C
12,인천IT코디센터,정연석,메콕스큐어메드주식회사,206-86-09879,2019-05-14,ICUBE 클라우드서버,신규,0,3540000,C
13,천안IT코디센터,최진환,(주)광천김,310-81-23326,2019-05-14,ICUBE 클라우드서버,기타,0,4800000,C
3,다인정보,심영미,향우산업주식회사,128-81-18559,2019-05-14,ICUBE 클라우드서버,신규,0,2760000,B
9,아이원소프트뱅크,이혜리,케이디비비즈 주식회사,864-87-01189,2019-05-14,IU 클라우드서버,신규,0,6474000,B
10,유니에스아이,박준호,엠케이프리시젼주식회사,140-81-05369,2019-05-14,ICUBE 클라우드서버,신규,0,3180000,B

In [75]:
# 업체명/솔루션/년금액/센터/담당자/판매유형
for row in df6.values:
    product_price = "{:,}원".format(int(row[8]))
    order_type = '재계약' if row[6] == '기타' else row[6]
    print("- {0}/{1}/년{2}원/{3}/{4}/{5}".format(row[2], row[5].split()[0], product_price, row[0].split()[0], row[1], order_type))

- (주)고암/ICUBE/IU/년6,060,000원원/서울3/임민웅/신규
- 메콕스큐어메드주식회사/ICUBE/년3,540,000원원/인천IT코디센터/정연석/신규
- (주)광천김/ICUBE/년4,800,000원원/천안IT코디센터/최진환/재계약
- 향우산업주식회사/ICUBE/년2,760,000원원/다인정보/심영미/신규
- 케이디비비즈 주식회사/IU/년6,474,000원원/아이원소프트뱅크/이혜리/신규
- 엠케이프리시젼주식회사/ICUBE/년3,180,000원원/유니에스아이/박준호/신규

In [68]:
filter_product = {'ICUBE 클라우드서버', 'ICUBE/IU 클라우드서버', 'ICUBE/GW 클라우드서버', 'IU 클라우드서버'
                    , 'IU/GW 클라우드서버', 'GW 클라우드서버'}
'GW 클라우드서버' in filter_product

df5['상품명'].apply(lambda x : x in filter_product)

0     False
1     False
2     False
5     False
7      True
6     False
8     False
12     True
13     True
3      True
4     False
9      True
11    False
10     True
Name: 상품명, dtype: bool

In [35]:
df3 = grouped.sum().reset_index()

AttributeError: 'str' object has no attribute 'isin'

In [17]:
c1 = df3.count(axis=1)
#total_rows = df3.count
#print(total_rows)

#%timeit count_row = df3.shape[0]  # gives number of row count
count_row = df3.shape[0]
count_col = df3.shape[1]  # gives number of col count
print("{0}/{1}/{2}".format(count_row, count_col, len(df2)))

6/9/30

In [ ]:
%timeit count_row = df3.shape[0]

In [ ]:
%timeit len(df3)

In [18]:
import re
def commaParse(num):
    return re.sub('(?<=\d)(?=(\d{3})+(?!\d))',',',str(num))

In [19]:
# 업체명/솔루션/년금액/센터/담당자
for row in df3.values:
    print("- {0}/{1}/년{2}원/{3}/{4}/{5}".format(row[3], row[4].split()[0], commaParse(row[8]), row[0].split()[0], row[1], row[5]))

- (주)한양세미텍/ICUBE/년5,028,000원/경기IT코디센터/김세중A/신규
- 재단법인 부산문화회관/ICUBE/년2,790,000원/디엠솔루션/안수민/기타
- (주)아이티씨/ICUBE/년10,000,000원/부산IT코디센터/윤점혁/기타
- 라시따델라모다(주)/ICUBE/년3,660,000원/비즈웰/이우석/신규
- (주)포엠아이/ICUBE/GW/년7,080,000원/신원이노베이션/양창훈/기타
- 주식회사 아이씨비/GW/년6,456,000원/유비이앤씨/방상현/기타

In [ ]:
import datetime

In [ ]:
now = datetime.datetime.now()

In [ ]:
today = datetime.datetime.today()
d1 = today.strftime('%Y-%m-%d, %H:%M:%S') #'2019-04-19, 13:31:11'

In [ ]:
DATA_PATH = "C:\\Temp\\NsmData\\"
today = datetime.datetime.today() # datetime.datetime.now
yesterday = today + datetime.timedelta(days=-1) # 오늘에서 1일을 빼서 어제를 구한다
file_name = "order" + yesterday.strftime('%Y%m%d') + ".xlsx"
excel_file = DATA_PATH + file_name

In [48]:
df_data_dic = {'영업채널명':[], '영업담당자명':[]}
df_data_dic['영업채널명'].append('서울1')
df_data_dic['영업채널명'].append('서울2')
df_data_dic['영업담당자명'].append('홍길동')
df_data_dic['영업담당자명'].append('갑순이')
df_data_dic['NEW_COL'] = list()
df_data_dic['NEW_COL'].append(100)
df_data_dic['NEW_COL'].append(200)

In [49]:
df_data_dic

{'영업채널명': ['서울1', '서울2'], '영업담당자명': ['홍길동', '갑순이'], 'NEW_COL': [100, 200]}

In [45]:
save_df = pd.DataFrame(df_data_dic)

In [46]:
save_df

  영업채널명 영업담당자명
0   서울1    홍길동
1   서울2    갑순이

In [50]:
for row in save_df.values:
    print(row)

['서울1' '홍길동']
['서울2' '갑순이']

In [30]:
today

datetime.datetime(2019, 4, 23, 9, 51, 34, 589772)